openapi: 3.2.0
info:
  title: Electricitymaps Carbon Intensity API
  version: '3.0'
  contact:
    name: Electricity Maps Support
    url: https://www.electricitymaps.com
  termsOfService: https://www.electricitymaps.com/legal-notice
  description: 'Operations tagged Carbon Intensity across 2 of this provider''s published API definitions: electricitymaps-openapi.yml, electricitymaps-carbon-intensity-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.electricitymap.org/v3
security:
- authToken: []
tags:
- name: Carbon Intensity
paths:
  /carbon-intensity/latest:
    get:
      operationId: getCarbonIntensityLatest
      tags:
      - Carbon Intensity
      summary: Latest carbon intensity
      description: Retrieves the last known carbon intensity (in gCO2eq/kWh) of electricity consumed in a zone, queryable by zone identifier or by geolocation.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonIntensity'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.electricitymap.org/v3
  /carbon-intensity/history:
    get:
      operationId: getCarbonIntensityHistory
      tags:
      - Carbon Intensity
      summary: Carbon intensity history
      description: Retrieves the last 24 hours of carbon intensity (in gCO2eq/kWh) of electricity consumed in a zone, with hourly resolution.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonIntensityHistory'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.electricitymap.org/v3
  /carbon-intensity/forecast:
    get:
      operationId: getCarbonIntensityForecast
      tags:
      - Carbon Intensity
      summary: Carbon intensity forecast
      description: Retrieves the forecasted carbon intensity (in gCO2eq/kWh) of electricity consumed in a zone, up to 24-72 hours ahead depending on plan.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonIntensityForecast'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.electricitymap.org/v3
  /v3/carbon-intensity/{temporality}:
    get:
      operationId: getCarbonIntensity
      summary: Get carbon intensity signal
      description: Returns carbon intensity in gCO2eq/kWh for the requested zone and temporality.
      tags:
      - Carbon Intensity
      parameters:
      - $ref: '#/components/parameters/Temporality'
      - $ref: '#/components/parameters/Zone'
      - $ref: '#/components/parameters/Lon'
      - $ref: '#/components/parameters/Lat'
      - $ref: '#/components/parameters/TemporalGranularity'
      - $ref: '#/components/parameters/EmissionFactorType'
      - $ref: '#/components/parameters/DisableEstimations'
      responses:
        '200':
          description: Carbon intensity signal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalResponse'
    servers:
    - url: https://api.electricitymap.org/v3
  /v3/fossil-only-carbon-intensity/{temporality}:
    get:
      operationId: getFossilOnlyCarbonIntensity
      summary: Get fossil-only carbon intensity
      tags:
      - Carbon Intensity
      parameters:
      - $ref: '#/components/parameters/Temporality'
      - $ref: '#/components/parameters/Zone'
      responses:
        '200':
          description: Signal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalResponse'
    servers:
    - url: https://api.electricitymap.org/v3
components:
  parameters:
    lon:
      name: lon
      in: query
      description: Longitude of the location to resolve to a zone. Used with lat as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
    zone:
      name: zone
      in: query
      description: Zone identifier (e.g. DE, FR, GB, US-CAL-CISO). Alternative to lat/lon.
      required: false
      schema:
        type: string
    lat:
      name: lat
      in: query
      description: Latitude of the location to resolve to a zone. Used with lon as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
    Lat:
      name: lat
      in: query
      description: Latitude (used in place of zone).
      schema:
        type: number
    TemporalGranularity:
      name: temporalGranularity
      in: query
      description: Temporal aggregation of the response.
      schema:
        type: string
        enum:
        - 5_minutes
        - 15_minutes
        - hourly
        - daily
        - monthly
        - quarterly
        - yearly
        default: hourly
    Lon:
      name: lon
      in: query
      description: Longitude (used in place of zone).
      schema:
        type: number
    EmissionFactorType:
      name: emissionFactorType
      in: query
      description: Emission factor methodology.
      schema:
        type: string
        enum:
        - lifecycle
        - direct
        default: lifecycle
    Temporality:
      name: temporality
      in: path
      required: true
      description: Time horizon of the signal.
      schema:
        type: string
        enum:
        - latest
        - past
        - forecast
    Zone:
      name: zone
      in: query
      description: Zone identifier (e.g., SE, DE, US-CAL-CISO).
      schema:
        type: string
    DisableEstimations:
      name: disableEstimations
      in: query
      description: Exclude estimated data points.
      schema:
        type: boolean
        default: false
  responses:
    Unauthorized:
      description: Missing or invalid auth-token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    CarbonIntensity:
      type: object
      properties:
        zone:
          type: string
          example: DE
        carbonIntensity:
          type: integer
          description: Carbon intensity in gCO2eq/kWh.
          example: 302
        datetime:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        emissionFactorType:
          type: string
          example: lifecycle
        isEstimated:
          type: boolean
        estimationMethod:
          type:
          - string
          - 'null'
    Error:
      type: object
      properties:
        message:
          type: string
        status:
          type: string
    CarbonIntensityHistory:
      type: object
      properties:
        zone:
          type: string
        history:
          type: array
          items:
            $ref: '#/components/schemas/CarbonIntensity'
    CarbonIntensityForecast:
      type: object
      properties:
        zone:
          type: string
        forecast:
          type: array
          items:
            type: object
            properties:
              carbonIntensity:
                type: integer
              datetime:
                type: string
                format: date-time
        updatedAt:
          type: string
          format: date-time
    SignalResponse:
      type: object
      properties:
        zone:
          type: string
        datetime:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        isEstimated:
          type: boolean
        estimationMethod:
          type: string
          nullable: true
        temporalGranularity:
          type: string
        emissionFactorType:
          type: string
        history:
          type: array
          items:
            type: object
            additionalProperties: true
        forecast:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: auth-token
      description: API key issued from the Electricity Maps portal, sent in the auth-token header.
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- electricitymaps-openapi.yml
- electricitymaps-carbon-intensity-api-openapi.yml
