openapi: 3.1.0
info:
  title: Electricity Maps CarbonIntensity API
  description: The Electricity Maps API delivers real-time, historical, and forecasted electricity grid signals worldwide, including carbon intensity, power breakdown by source, renewable and carbon-free percentages, electricity flows, total and net load, and day-ahead pricing. Each signal is available in three temporality variants (latest, past, forecast) and can be queried by zone identifier, geographic coordinates, or data center provider/region.
  version: '3.0'
  contact:
    name: Electricity Maps Support
    url: https://www.electricitymaps.com/contact
  license:
    name: Commercial
    url: https://www.electricitymaps.com/api-pricing
servers:
- url: https://api.electricitymap.org
  description: Production
security:
- authToken: []
- basicAuth: []
tags:
- name: CarbonIntensity
  description: Carbon intensity (gCO2eq/kWh) signals.
paths:
  /v3/carbon-intensity/{temporality}:
    get:
      operationId: getCarbonIntensity
      summary: Get carbon intensity signal
      description: Returns carbon intensity in gCO2eq/kWh for the requested zone and temporality.
      tags:
      - CarbonIntensity
      parameters:
      - $ref: '#/components/parameters/Temporality'
      - $ref: '#/components/parameters/Zone'
      - $ref: '#/components/parameters/Lon'
      - $ref: '#/components/parameters/Lat'
      - $ref: '#/components/parameters/TemporalGranularity'
      - $ref: '#/components/parameters/EmissionFactorType'
      - $ref: '#/components/parameters/DisableEstimations'
      responses:
        '200':
          description: Carbon intensity signal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalResponse'
  /v3/fossil-only-carbon-intensity/{temporality}:
    get:
      operationId: getFossilOnlyCarbonIntensity
      summary: Get fossil-only carbon intensity
      tags:
      - CarbonIntensity
      parameters:
      - $ref: '#/components/parameters/Temporality'
      - $ref: '#/components/parameters/Zone'
      responses:
        '200':
          description: Signal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalResponse'
components:
  parameters:
    DisableEstimations:
      name: disableEstimations
      in: query
      description: Exclude estimated data points.
      schema:
        type: boolean
        default: false
    TemporalGranularity:
      name: temporalGranularity
      in: query
      description: Temporal aggregation of the response.
      schema:
        type: string
        enum:
        - 5_minutes
        - 15_minutes
        - hourly
        - daily
        - monthly
        - quarterly
        - yearly
        default: hourly
    Lat:
      name: lat
      in: query
      description: Latitude (used in place of zone).
      schema:
        type: number
    EmissionFactorType:
      name: emissionFactorType
      in: query
      description: Emission factor methodology.
      schema:
        type: string
        enum:
        - lifecycle
        - direct
        default: lifecycle
    Temporality:
      name: temporality
      in: path
      required: true
      description: Time horizon of the signal.
      schema:
        type: string
        enum:
        - latest
        - past
        - forecast
    Lon:
      name: lon
      in: query
      description: Longitude (used in place of zone).
      schema:
        type: number
    Zone:
      name: zone
      in: query
      description: Zone identifier (e.g., SE, DE, US-CAL-CISO).
      schema:
        type: string
  schemas:
    SignalResponse:
      type: object
      properties:
        zone:
          type: string
        datetime:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        isEstimated:
          type: boolean
        estimationMethod:
          type: string
          nullable: true
        temporalGranularity:
          type: string
        emissionFactorType:
          type: string
        history:
          type: array
          items:
            type: object
            additionalProperties: true
        forecast:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: auth-token
      description: API token issued from the Electricity Maps portal.
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  description: Electricity Maps API Documentation
  url: https://app.electricitymaps.com/docs/getting-started
