openapi: 3.2.0
info:
  title: Electricity Maps Forecast API
  description: The Electricity Maps API serves electricity grid carbon intensity and power production/consumption breakdown data for 200+ zones worldwide, in real time, as 24-hour history, and as 24-72 hour forecasts. It is the same data behind the live map at app.electricitymap.org. All data endpoints require an API key passed in the auth-token header; the zones and health endpoints can be called without a key.
  termsOfService: https://www.electricitymaps.com/legal-notice
  contact:
    name: Electricity Maps Support
    url: https://www.electricitymaps.com
  version: '3.0'
servers:
- url: https://api.electricitymap.org/v3
security:
- authToken: []
tags:
- name: Forecast
paths:
  /carbon-intensity/forecast:
    get:
      operationId: getCarbonIntensityForecast
      tags:
      - Forecast
      summary: Carbon intensity forecast
      description: Retrieves the forecasted carbon intensity (in gCO2eq/kWh) of electricity consumed in a zone, up to 24-72 hours ahead depending on plan.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonIntensityForecast'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /power-breakdown/forecast:
    get:
      operationId: getPowerBreakdownForecast
      tags:
      - Forecast
      summary: Power breakdown forecast
      description: Retrieves the forecasted power production breakdown of a zone, up to 24-72 hours ahead depending on plan.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerBreakdownForecast'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    lon:
      name: lon
      in: query
      description: Longitude of the location to resolve to a zone. Used with lat as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
    zone:
      name: zone
      in: query
      description: Zone identifier (e.g. DE, FR, GB, US-CAL-CISO). Alternative to lat/lon.
      required: false
      schema:
        type: string
    lat:
      name: lat
      in: query
      description: Latitude of the location to resolve to a zone. Used with lon as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
  schemas:
    PowerBreakdown:
      type: object
      properties:
        zone:
          type: string
        datetime:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        powerConsumptionBreakdown:
          $ref: '#/components/schemas/SourceBreakdown'
        powerProductionBreakdown:
          $ref: '#/components/schemas/SourceBreakdown'
        powerImportBreakdown:
          type: object
          additionalProperties:
            type:
            - number
            - 'null'
        powerExportBreakdown:
          type: object
          additionalProperties:
            type:
            - number
            - 'null'
        fossilFreePercentage:
          type: integer
        renewablePercentage:
          type: integer
        powerConsumptionTotal:
          type: number
        powerProductionTotal:
          type: number
        powerImportTotal:
          type: number
        powerExportTotal:
          type: number
        isEstimated:
          type: boolean
        estimationMethod:
          type:
          - string
          - 'null'
    PowerBreakdownForecast:
      type: object
      properties:
        zone:
          type: string
        forecast:
          type: array
          items:
            $ref: '#/components/schemas/PowerBreakdown'
        updatedAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        message:
          type: string
        status:
          type: string
    SourceBreakdown:
      type: object
      description: Power in MW per production type. Values may be null when unknown.
      properties:
        nuclear:
          type:
          - number
          - 'null'
        geothermal:
          type:
          - number
          - 'null'
        biomass:
          type:
          - number
          - 'null'
        coal:
          type:
          - number
          - 'null'
        wind:
          type:
          - number
          - 'null'
        solar:
          type:
          - number
          - 'null'
        hydro:
          type:
          - number
          - 'null'
        gas:
          type:
          - number
          - 'null'
        oil:
          type:
          - number
          - 'null'
        unknown:
          type:
          - number
          - 'null'
        hydro discharge:
          type:
          - number
          - 'null'
        battery discharge:
          type:
          - number
          - 'null'
    CarbonIntensityForecast:
      type: object
      properties:
        zone:
          type: string
        forecast:
          type: array
          items:
            type: object
            properties:
              carbonIntensity:
                type: integer
              datetime:
                type: string
                format: date-time
        updatedAt:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid auth-token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: auth-token
      description: API key issued from the Electricity Maps portal, sent in the auth-token header.
