openapi: 3.0.1
info:
  title: Electricity Maps Carbon Intensity API
  description: The Electricity Maps API serves electricity grid carbon intensity and power production/consumption breakdown data for 200+ zones worldwide, in real time, as 24-hour history, and as 24-72 hour forecasts. It is the same data behind the live map at app.electricitymap.org. All data endpoints require an API key passed in the auth-token header; the zones and health endpoints can be called without a key.
  termsOfService: https://www.electricitymaps.com/legal-notice
  contact:
    name: Electricity Maps Support
    url: https://www.electricitymaps.com
  version: '3.0'
servers:
- url: https://api.electricitymap.org/v3
security:
- authToken: []
tags:
- name: Carbon Intensity
paths:
  /carbon-intensity/latest:
    get:
      operationId: getCarbonIntensityLatest
      tags:
      - Carbon Intensity
      summary: Latest carbon intensity
      description: Retrieves the last known carbon intensity (in gCO2eq/kWh) of electricity consumed in a zone, queryable by zone identifier or by geolocation.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonIntensity'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /carbon-intensity/history:
    get:
      operationId: getCarbonIntensityHistory
      tags:
      - Carbon Intensity
      summary: Carbon intensity history
      description: Retrieves the last 24 hours of carbon intensity (in gCO2eq/kWh) of electricity consumed in a zone, with hourly resolution.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonIntensityHistory'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /carbon-intensity/forecast:
    get:
      operationId: getCarbonIntensityForecast
      tags:
      - Carbon Intensity
      summary: Carbon intensity forecast
      description: Retrieves the forecasted carbon intensity (in gCO2eq/kWh) of electricity consumed in a zone, up to 24-72 hours ahead depending on plan.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonIntensityForecast'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    CarbonIntensityForecast:
      type: object
      properties:
        zone:
          type: string
        forecast:
          type: array
          items:
            type: object
            properties:
              carbonIntensity:
                type: integer
              datetime:
                type: string
                format: date-time
        updatedAt:
          type: string
          format: date-time
    CarbonIntensity:
      type: object
      properties:
        zone:
          type: string
          example: DE
        carbonIntensity:
          type: integer
          description: Carbon intensity in gCO2eq/kWh.
          example: 302
        datetime:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        emissionFactorType:
          type: string
          example: lifecycle
        isEstimated:
          type: boolean
        estimationMethod:
          type: string
          nullable: true
    CarbonIntensityHistory:
      type: object
      properties:
        zone:
          type: string
        history:
          type: array
          items:
            $ref: '#/components/schemas/CarbonIntensity'
    Error:
      type: object
      properties:
        message:
          type: string
        status:
          type: string
  parameters:
    lat:
      name: lat
      in: query
      description: Latitude of the location to resolve to a zone. Used with lon as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
    lon:
      name: lon
      in: query
      description: Longitude of the location to resolve to a zone. Used with lat as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
    zone:
      name: zone
      in: query
      description: Zone identifier (e.g. DE, FR, GB, US-CAL-CISO). Alternative to lat/lon.
      required: false
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid auth-token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: auth-token
      description: API key issued from the Electricity Maps portal, sent in the auth-token header.
