openapi: 3.2.0
info:
  title: Electricity Maps Power Consumption API
  description: The Electricity Maps API serves electricity grid carbon intensity and power production/consumption breakdown data for 200+ zones worldwide, in real time, as 24-hour history, and as 24-72 hour forecasts. It is the same data behind the live map at app.electricitymap.org. All data endpoints require an API key passed in the auth-token header; the zones and health endpoints can be called without a key.
  termsOfService: https://www.electricitymaps.com/legal-notice
  contact:
    name: Electricity Maps Support
    url: https://www.electricitymaps.com
  version: '3.0'
servers:
- url: https://api.electricitymap.org/v3
security:
- authToken: []
tags:
- name: Power Consumption
paths:
  /power-consumption-breakdown/latest:
    get:
      operationId: getPowerConsumptionBreakdownLatest
      tags:
      - Power Consumption
      summary: Latest power consumption breakdown
      description: Retrieves the last known flow-traced power consumption breakdown of a zone, in megawatts per production type, accounting for imports from neighbouring zones.
      parameters:
      - $ref: '#/components/parameters/zone'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerConsumptionBreakdown'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    lon:
      name: lon
      in: query
      description: Longitude of the location to resolve to a zone. Used with lat as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
    zone:
      name: zone
      in: query
      description: Zone identifier (e.g. DE, FR, GB, US-CAL-CISO). Alternative to lat/lon.
      required: false
      schema:
        type: string
    lat:
      name: lat
      in: query
      description: Latitude of the location to resolve to a zone. Used with lon as an alternative to zone.
      required: false
      schema:
        type: number
        format: float
  schemas:
    PowerConsumptionBreakdown:
      type: object
      properties:
        zone:
          type: string
        datetime:
          type: string
          format: date-time
        powerConsumptionBreakdown:
          $ref: '#/components/schemas/SourceBreakdown'
        powerConsumptionTotal:
          type: number
    Error:
      type: object
      properties:
        message:
          type: string
        status:
          type: string
    SourceBreakdown:
      type: object
      description: Power in MW per production type. Values may be null when unknown.
      properties:
        nuclear:
          type:
          - number
          - 'null'
        geothermal:
          type:
          - number
          - 'null'
        biomass:
          type:
          - number
          - 'null'
        coal:
          type:
          - number
          - 'null'
        wind:
          type:
          - number
          - 'null'
        solar:
          type:
          - number
          - 'null'
        hydro:
          type:
          - number
          - 'null'
        gas:
          type:
          - number
          - 'null'
        oil:
          type:
          - number
          - 'null'
        unknown:
          type:
          - number
          - 'null'
        hydro discharge:
          type:
          - number
          - 'null'
        battery discharge:
          type:
          - number
          - 'null'
  responses:
    Unauthorized:
      description: Missing or invalid auth-token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: auth-token
      description: API key issued from the Electricity Maps portal, sent in the auth-token header.
